{% extends 'base.html.twig' %}
{% set page_title = 'Zmień hasło' %}

{% block content %}
    {{ parent() }}

    <form action="{{ path('user-password') }}" method="post">
        <fieldset>
            {{ error }}
            {% if postPass is defined %}
            {{ postPass }}
            {{ encodedPostPass }}
            <b style="color: red;">{% if passwordIsValid %}tak{% else %}nie{% endif %}</b>
            {% endif %}
            <p>
                <label for="current_password"><span class="mandatory-parameter">*</span>Obecne hasło:</label>
                <span class="form-data">
                    <input type="password" name="current_password" id="current_password" value="" />
                </span>
            </p>
            <p>
                <label for="new_password"><span class="mandatory-parameter">*</span>Nowe hasło:</label>
                <span class="form-data">
                    <input type="password" name="new_password" id="new_password" value="" />
                </span>
            </p>
            <p>
                <label for="repeat_new_password"><span class="mandatory-parameter">*</span>Powtórz nowe hasło:</label>
                <span class="form-data">
                    <input type="password" name="repeat_new_password" id="repeat_new_password" value="" />
                </span>
            </p>
            <p>
                <label>&nbsp;</label>
                <input type="submit" />
            </p>
        </fieldset>
    </form>

{% endblock %}
