<!doctype html>

<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>{% if page_title is defined %} {{ page_title }} - {% endif %} {% block title %}Infernal Seed{% endblock %}</title>
    <meta name="description" content="Oficjalna strona klau Infernal Seed działającego w świecie MUDa Cygnus Division" />
    <meta name="author" content="Grzegorz Szaliński 'Bostaf'" />

    <link rel="stylesheet" type="text/css" href="{{ asset('style.css', 'css') }}" />
    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="{{ asset('style-ie.css', 'css') }}" />
    <![endif]-->

    <script
            src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.min.js"></script>
    <script src="{{ asset('jquery.timeago.pol.js', 'js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("time.timeago").timeago();
        });
        jQuery.timeago.settings.cutoff = 1000*60*60*24*365;
    </script>
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="naglowek">&nbsp;</div>
<div class="group">
    <div class="menu" id="main_menu">
        <a href="{{ path('powitanie') }}">Powitanie</a><br>
        <a href="{{ path('aktualnosci') }}">Aktualności</a><br>
        <br>
        <b>»&nbsp;O klanie</b><br>
        <a href="{{ path('misiaki') }}">mISiaki</a><br>
        <a href="{{ path('historia') }}">Historia</a><br>
        <a href="{{ path('opis-klanu') }}">Opis Klanu</a><br>
        <a href="{{ path('kodeks') }}">Kodeks</a><br>
        <a href="{{ path('umiejetnosci') }}">Umiejętności</a><br>
        <a href="{{ path('totemy') }}">Totemy</a><br>
        <a href="{{ path('logi') }}">Logi</a><br>
        <br>
        <b>»&nbsp;Inne</b><br>
        <a href="http://www.prv.pl/kg/wypisz.php?id=52723" target="_parent">Księga Gości</a><br>
        <a href="http://galeria.mud.pl/index.php?/category/885" target="_parent">Galeria</a><br>
        <a href="{{ path('linki') }}">Linki</a><br>
        <a href="{{ path('o-stronie') }}">O stronie</a><br>
        <a href="../src/index.html">Stare WWW</a><br>
    </div>
    <div class="content {% block content_class_name %}{% endblock %}">
            <h1 class="viewport-small"><a href="#" onclick="toggleMenu();" class="box-shadow-menu">{{ page_title }}</a></h1>
            <h1 class="viewport-standard">{{ page_title }}</h1>
            <hr>
        {% block content %}
        {% endblock %}
    </div>
</div>
<div class="stopka">
    <hr>
    <a href="{{ path('misiaki') }}">mISiaki</a> ::
    <a href="{{ path('historia') }}">Historia</a> ::
    <a href="{{ path('opis-klanu') }}">Opis Klanu</a> ::
    <a href="{{ path('kodeks') }}">Kodeks</a> ::
    <a href="{{ path('umiejetnosci') }}">Umiejętności</a> ::
    <a href="{{ path('logi') }}">Logi</a> ::
    <a href="http://www.prv.pl/kg/wypisz.php?id=52723">Księga Gości</a> ::
    <a href="{{ path('linki') }}">Linki</a>
    <br><br>
    <span class="copy"><a href="{{ path('o-stronie') }}">© maUa Bostafinka™ and Infernal Seed 2000-2017</a></span>
    </td>
</div>
<script src="{{ asset('scripts.js', 'js') }}"></script>
</body>
</html>
