{% extends 'base.html.twig' %}
{% set page_title = 'Księga gości' %}

{% block content %}
    {{ parent() }}
    <form class="form" target="{{ path('ksiega-gosci') }}" method="post" name="guestbook-form">
        <fieldset>
            <p><label>Nick:</label><input type="text" name="guestbook-nick"></p>
            <p><label>Wpis:</label><textarea name="guestbook-wpis"></textarea></p>
            <p><label>&nbsp;</label><input type="submit" value="Wyślij"></p>
        </fieldset>
    </form>
    {% for inscription in inscriptions %}
        <strong>{{ inscription['nick'] }}</strong> {{ inscription['email'] }} {{ inscription['url'] }}
        <br />
        <time class="title timeago" datetime="{{ inscription['date'] }}">{{ inscription['date']|localizeddate('full', 'none', 'pl')|capitalize }}</time>
        <br />
        {{ inscription['contents']|nl2br }}
        <br /><br />
    {% endfor %}
{% endblock %}
