{% extends 'base.html.twig' %}
{% set page_title = 'Logi: rozmowy' %}
{% block content_class_name %}logs-chats{% endblock %}

{% block content %}
<h1>{{ page_title }}</h1>
<hr>
    Daty są datami zamieszczenia logów na stronie a nie datami logowania.
    <br />
    <br />
    {% for dateLogs in chats %}
        <time class="title timeago" datetime="{{ dateLogs['date'] }}" id="{{ dateLogs['date']|date('Y-m-d') }}">{{ dateLogs['date']|localizeddate('full', 'none', 'pl')|capitalize }}</time>
        <a href="#{{ dateLogs['date']|date('Y-m-d') }}" class="permalink">¶</a>
        <br />
        <ul>
            {% for filename,title in dateLogs['logs'] %}
                <li><a href="{{ path('rozmowa', {'id': filename}) }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
